.google {

  width: max-content;
  margin: 2rem auto;

  &__button {
    display: flex;
    place-items: center;
    font-size: 1.6rem;
    color: #243B53;
    border: .1rem solid black;
    padding: .8rem 1.5rem;
  }

  &__logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
  }
}